/* Write your code here. */
.container {
  background-image: linear-gradient(to bottom, #9796f0, #fbc7d4);
  min-height: 100vh;
}
.unorder {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
